* {
	box-sizing: border-box;
}
html{
	height: 100%;
}
body {
	min-height: 100%;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden; 
}
@font-face {
	font-family: "Quicksand_Bold";
	src: url(font/Quicksand_Bold.otf);
}
@font-face {
	font-family: "Quicksand_Light";
	src: url(font/Quicksand_Light.otf);
}
body {
	margin: 0;
}
/*--------Header--------*/
div#img {
	position: relative;
}

#imgCentral {
	width: 100%;
	height: 330px;
	opacity: .5;
}

div.menu {
	width: 100%;
	position: absolute;
	top: 5%;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

#bars {
	margin-left: 25px;
	margin-top: 12px;
}

/*#call{
	position: relative;
	right: -30px;
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
}*/
a#phone {
	margin-right: 0px;
	margin-bottom: 5px;
	position: relative;
	background-color: white;
	opacity: 0.6;
	padding-top: 5px;
	padding-bottom: 12px;
	padding-right: 62.5px;
	padding-left: 62.5px;
	border-radius: 5pt;
	top: 10px;
	right: 30px;
	box-shadow: rgba(0, 0, 0, 0.75) 5px 5px 3px;
}
.text {
	text-decoration: none;
	color: black;
	position: absolute;
	right: 40px;
	top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	line-height: 1.3;
}

img.barras{
	width: 30px;
	height: 25px;
	/*filter: invert(18%) sepia(4%) saturate(2116%) hue-rotate(220deg) brightness(95%) contrast(93%);
}*/}

.telefono{
	width: 20px;
	height: 18px;
	color: black;
	position: absolute;
	transform: translate(-150px,15px);
	opacity: 1;
}
/*----------Logo-----------*/

#logoPropiedades{
	width: 250px;
	height: 155px;
}

#logo {
	position: absolute;
	width: 350px;
	height: 230px;
	top: 70px;
	left: 50%;
	transform: translate(-35%, 0);
}

/*----------Aplicaciones-----------*/	

div#aplicaciones {
	display: flex;
	transform: translate(0,-20px);
}
.boton1 {
	width: 170px;
	height: 70px;
	position: relative;
	transform: translate(-3%, -20px);
	z-index: 2;
}
.boton2 {
	width: 180px;
	height: 70px;
	position: relative;
	transform: translate(-26%, -20px);
	z-index: 1;
}
.boton3 {
	width: 170px;
	height: 70px;
	position: relative;
	transform: translate(-57%, -20px);
}
/*---------------Media query------------------*/
@media (max-width:400px) {
	.boton1 {
	width: 175px;
	height: 75px;
	position: relative;
	transform: translate(-7%, -20px);
	z-index: 2;
}
.boton2 {
	width: 180px;
	height: 75px;
	position: relative;
	transform: translate(-35%, -20px);
	z-index: 1;
}
.boton3 {
	width: 200px;
	height: 75px;
	position: relative;
	transform: translate(-73%, -20px);
}
}
@media (max-width:375px) {
	.boton1 {
	width: 175px;
	height: 75px;
	position: relative;
	transform: translate(-7%, -20px);
	z-index: 2;
}
.boton2 {
	width: 180px;
	height: 75px;
	position: relative;
	transform: translate(-38%, -20px);
	z-index: 1;
}
.boton3 {
	width: 180px;
	height: 75px;
	position: relative;
	transform: translate(-82%, -20px);
}
}
@media (min-width: 320px) and (max-width: 360px){
	.boton1 {
	width: 165px;
	height: 63px;
	position: relative;
	transform: translate(-7%, -20px);
	z-index: 2;
}
.boton2 {
	width: 165px;
	height: 63px;
	position: relative;
	transform: translate(-36%, -20px);
	z-index: 1;
}
.boton3 {
	width: 165px;
	height: 63px;
	position: relative;
	transform: translate(-75%, -20px);
}
}
/*--------Media query End---------*/

/*------menu------*/

#menus {
	display: block;
	position: relative;
	top: -57px;
}

/*---------------entradas----------------*/
div#entradas {
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: rgba(228, 159, 173, 0.4);
	z-index: 3;
}

#entradasText {
	font-family: "Quicksand_Light";
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11.5px;
	margin-left: -98.86px;
	font-size: 1.6em;
	display: all;
	z-index: 5;
	color: #4D4D4D;
}

#menuEntradas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: pink;
	left: -100%;
	overflow: scroll;
}

.botonEntradas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #E8A3B1;
	z-index: 7;
}

#tituloEntradas{
	font-size: 20pt;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-family: "Quicksand_Light";
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 8px;
	width: 200px;
}
#volverImg {
	width: 80px;
	height: 30px;
	filter: invert(100%) sepia(1%) saturate(1106%) hue-rotate(242deg) brightness(117%) contrast(100%);

}
#volverEntradas{
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 5px;
	z-index: 7;
}
#platosEntradas {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 540px;
	z-index: 6;
}
#plato1 {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 30px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
}
#imgPlato1 {
	position: absolute;
	top: 9px;
	left: 10px;
	width: 77px;
	height: 77px;
	background-image: url(../img/Linferno.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5pt 5pt;
	box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 3px;

}
#textoPlato1 {
	position: absolute;
	font-family: "Quicksand_Light";
	width: 50%;
	height: 80px;
	margin-left: 50px;
}
#textoPlato1 span{
	font-size: 8pt;
}
#titlePlato1 {
	font-family: "Quicksand_Bold";
	margin-top: 20px;
	font-size: 10pt;
	margin-bottom: 5px;
}
#precioPlato1 {
	position: absolute;
	right: 15px;
	top: 40%;
	margin-left: 20px;
}
#plato2 {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 150px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
}
#plato3{
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 270px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
}
#plato4 {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 390px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
	padding-bottom: 20px;
}



/*---------------------saladas----------------*/

#saladas {
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: rgba(143,145,148,0.4);
	opacity: .9;
	top:80px;
}
#saladasText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bold;
	color: #4D4D4D;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11.5px;
	margin-left: -85.055px;
	font-size: 1.6em;
}
#menuSaladas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: white;
	left: -100%;
	overflow: scroll;
}
.botonSaladas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #909295;
	z-index: 7;
}
/*-----------------pizzas--------------*/
#pizzas {
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: rgba(242,211,62,0.4);
	top:160px;
}
#pizzasText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bold;
	color: #4D4D4D;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11.5px;
	margin-left: -153.235px;
	font-size: 1.4em;
}
#menuPizzas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: yellow;
	left: -100%;
	overflow: scroll;
}
.botonPizzas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #F6D73E;
	z-index: 7;
}
#tituloPizzas{
	font-size: 16pt;
	margin-top: 12px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-family: "Quicksand_Light";
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 300px;
}
/*--------------Sobremesa---------------*/
#sobremesa {
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: rgba(143,145,148,0.4);
	opacity: .9;
	top:240px;
}

#sobremesaText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bold;
	color: #4D4D4D;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11.5px;
	margin-left: -124.85px;
	font-size: 1.6em;
}
#menuSobremesas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: white;
	left: -100%;
	overflow: scroll;
}
.botonSobremesas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #909295;
	z-index: 7;
}
#tituloSobremesas{
	font-size: 16pt;
	margin-top: 12px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-family: "Quicksand_Light";
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 300px;
}
/*-----------------------Bebidas---------------*/
#bebidas {
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: rgba(157,202,223,0.4);
	top:320px;
}
#bebidasText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bold;
	color: #4D4D4D;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18.5px;
	margin-left: -79.54px;
	font-size: 1.6em;
}
#menuBebidas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: blue;
	left: -100%;
	overflow: scroll;
}
.botonBebidas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #A1CEE3;
	z-index: 7;
}
/*------footer-----*/

#footer {
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: white;
	top: 400px;
	border-top-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
	text-decoration: none;
	display: flex;
	z-index: 7;
}

#footerText1 {
	text-decoration: none;
	color: #4D4D4D;
	position: absolute;
	top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	font-weight: bolder;
}

#footerText1 a{
	color: #4D4D4D;
	margin-left: 5px;
	text-decoration: none;
	font-family: "Quicksand_Light";
	font-size: .8em;
	font-weight: bolder;
}	
#footer2 {
	width: 100%;
	position:absolute;
	top: 440px;
	text-decoration: none;
	color: #4D4D4D;
	display: flex;
	justify-content: center;
	z-index: 7;
}
#footer2 a{
	color: #4D4D4D;
	font-size: 6pt;
	font-weight: bold;
	text-decoration: none;
	font-stretch: 1px;
	margin-right: 6px;
	white-space: nowrap
}
#phoneContact {
	position: relative;
	top: 1px;
	margin-right: 3px;
	margin-left: 6px;
	height: 10px;
}
#instagram{
	position: relative;
	top: 1px;
	margin-right: 3px;
	height: 10px;
}
#email {
	margin-right: 6px;
}
#emailcontact {
	position: relative;
	top: 1px;
	margin-right: 3px;
	height: 10px;
}
