* {
	box-sizing: border-box;
	margin: 0;
}
html{
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
@font-face {
	font-family: "Quicksand_Bold";
	src: url(font/Quicksand_Bold.otf);
}
@font-face {
	font-family: "Quicksand_Light";
	src: url(font/Quicksand_Light.otf);
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
/*--------Header--------*/
div#img {
	position: relative;
	height: 40vh;
}

#imgCentral {
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 40vh;
	opacity: .5;
}

div.menu {
	width: 100%;
	position: absolute;
	top: 5%;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

#bars {
	margin-left: 25px;
	margin-top: 12px;
}

/*#call{
	position: relative;
	right: -30px;
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
}*/
a#phone {
	margin-right: 0px;
	margin-bottom: 5px;
	position: relative;
	background-color: white;
	opacity: 0.6;
	padding-top: 5px;
	padding-bottom: 12px;
	padding-right: 62.5px;
	padding-left: 62.5px;
	border-radius: 5pt;
	top: 10px;
	right: 30px;
	box-shadow: rgba(0, 0, 0, 0.75) 5px 5px 3px;
}
.text {
	text-decoration: none;
	color: black;
	position: absolute;
	right: 40px;
	top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	line-height: 1.3;
}

img.barras{
	width: 30px;
	height: 25px;
	/*filter: invert(18%) sepia(4%) saturate(2116%) hue-rotate(220deg) brightness(95%) contrast(93%);
}*/}

.telefono{
	width: 20px;
	height: 18px;
	color: black;
	position: absolute;
	transform: translate(-150px,15px);
	opacity: 1;
}
/*----------Logo-----------*/

#logoPropiedades{
	width: 55vw;
	height: 20vh;
}

#logo {
	position: absolute;
	float: left;
	width: 100%;
	height: 230px;
	top: 8vh;
	left: 20vw;
	margin: auto;
}

/*-----app-------*/
#app {
	display: flex;
	position: relative;
	top: -8vh;
	width: 100%;
}
#uber {
	position: relative;
	width: 45vw;
	height: 9vh;
	left: -5px;
	z-index: 3;
}
#bolt {
	position: relative;
	width: 45vw;
	height: 9vh;
	left: -30%;
	z-index: 2;
}
#glovo {
	position: relative;
	width: 45vw;
	height: 9vh;
	left: -70%;
}
/*------menu------*/

#menus {
	display: block;
	position: relative;
	top: 0px;
	height: 500px;
	background: white;
	z-index: 4;
}
#menu1 {
	display: flex;
	position: relative;
	top: 20px;
}
#menu2 {
	display: flex;
	position: relative;
	top: 40px;
}
#menu3 {
	display: flex;
	position: relative;
	top: 60px;
}
/*---------------entradas----------------*/
div#entradas {
	position: relative;
	width: 35%;
	height: 150px;
	z-index: 3;
	margin: auto;
	background-image: url(../img/NostroPane.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

#entradasText {
	font-family: "Quicksand_Light";
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
	margin: auto;
	font-size: 2vh;
	z-index: 5;
	color: white;
}

#menuEntradas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: pink;
	left: -100%;
	overflow: scroll;
}

.botonEntradas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #E8A3B1;
	z-index: 7;
}

#tituloEntradas{
	font-size: 20pt;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-family: "Quicksand_Light";
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 8px;
	width: 200px;
}
#volverImg {
	width: 80px;
	height: 30px;
	filter: invert(100%) sepia(1%) saturate(1106%) hue-rotate(242deg) brightness(117%) contrast(100%);

}
#volverEntradas{
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 5px;
	z-index: 7;
}
#platosEntradas {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 540px;
	z-index: 6;
}
#plato1 {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 30px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
}
#imgPlato1 {
	position: absolute;
	top: 9px;
	left: 10px;
	width: 77px;
	height: 77px;
	background-image: url(../img/Linferno.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5pt 5pt;
	box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 3px;

}
#textoPlato1 {
	position: absolute;
	font-family: "Quicksand_Light";
	width: 50%;
	height: 80px;
	margin-left: 50px;
}
#textoPlato1 span{
	font-size: 8pt;
}
#titlePlato1 {
	font-family: "Quicksand_Bold";
	margin-top: 20px;
	font-size: 10pt;
	margin-bottom: 5px;
}
#precioPlato1 {
	position: absolute;
	right: 15px;
	top: 40%;
	margin-left: 20px;
}
#plato2 {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 150px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
}
#plato3{
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 270px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
}
#plato4 {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 5%;
	top: 390px;
	height:100px;
	width: 90%;
	background-color: gray;
	z-index: 7;
	border-radius: 10pt;
	overflow-wrap: break-word;
	padding-bottom: 20px;
}



/*---------------------saladas----------------*/

#saladas {
	position: relative;
	width: 35%;
	height: 150px;
	margin: auto;
	background: url(../img/SaladaNostra.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;

}
#saladasText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bolder;
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
	font-size: 2vh;
}
#menuSaladas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: white;
	left: -100%;
	overflow: scroll;
}
.botonSaladas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #909295;
	z-index: 7;
}
/*-----------------pizzas--------------*/
#pizzas {
	position: relative;
	width: 35%;
	height: 150px;
	margin:auto;
	background-image: url(../img/Linferno.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
#pizzasText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bolder;
	color: white;
	text-transform: uppercase;
	letter-spacing: 6px;
	position: relative;
	font-size: 2vh;
}

#menuPizzas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: yellow;
	left: -100%;
	overflow: scroll;
}
.botonPizzas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #F6D73E;
	z-index: 7;
}
#tituloPizzas{
	font-size: 16pt;
	margin-top: 12px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-family: "Quicksand_Light";
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 300px;
}
/*--------------Sobremesa---------------*/
#sobremesa {
	position: relative;
	width: 35%;
	height: 150px;
	margin: auto;
	background-image: url(../img/Tiramisu.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sobremesaText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	font-size: 2vh;
}
#menuSobremesas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: white;
	left: -100%;
	overflow: scroll;
}
.botonSobremesas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #909295;
	z-index: 7;
}
#tituloSobremesas{
	font-size: 16pt;
	margin-top: 12px;
	margin-bottom: 5px;
	margin-left: 20px;
	font-family: "Quicksand_Light";
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 300px;
}
/*-----------------------Bebidas---------------*/
#bebidas {
	position: relative;
	width: 35%;
	height: 150px;
	margin: auto;
	background-image: url(../img/CocaCola.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
#bebidasText {
	font-family: "Quicksand_Light";
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
	font-size: 2vh;
}

#menuBebidas {
	display: flex;
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 430px;
	background-color: blue;
	left: -100%;
	overflow: scroll;
}
.botonBebidas {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #A1CEE3;
	z-index: 7;
}
/*------footer-----*/

#footer {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: white;
	border-top-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
	text-decoration: none;
	display: flex;
	z-index: 7;
	background: #989898;
}

#footerText1 {
	text-decoration: none;
	color: #4D4D4D;
	position: absolute;
	top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	font-weight: bolder;
}

#footerText1 a{
	color: #4D4D4D;
	margin-left: 5px;
	text-decoration: none;
	font-family: "Quicksand_Light";
	font-size: .8em;
	font-weight: bolder;
}	
#footer2 {
	width: 100%;
	position:relative;
	text-decoration: none;
	color: #4D4D4D;
	display: flex;
	justify-content: center;
	z-index: 7;
	background: #989898;
	top: 6vh;
	height: 30px;
	overflow: hidden;
}
#footer2 a{
	color: #4D4D4D;
	font-size: 6pt;
	font-weight: bold;
	text-decoration: none;
	font-stretch: 1px;
	margin-right: 6px;
	white-space: nowrap;
}
#phoneContact {
	position: relative;
	top: 1px;
	margin-right: 3px;
	margin-left: 6px;
	height: 10px;
}
#instagram{
	position: relative;
	top: 1px;
	margin-right: 3px;
	height: 10px;
}
#email {
	margin-right: 6px;
}
#emailcontact {
	position: relative;
	top: 1px;
	margin-right: 3px;
	height: 10px;
}
/*#newFooter{
	width: 100%;
	height: 200px;
	background-color: #EEEEEE;
	position: fixed;
	z-index: 10;
	top: 88%;
	display: flex;
	justify-content: space-around;
}
/*---#uber {
	background-image: url(../img/uber1.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 90px;
	top: 1px;
}
#glovo {
	background-image: url(../img/glovo1.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 90px;
	top: 1px;
}
#bolt {
	background-image: url(../img/bolt1.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 90px;
	top: 1px;
}*/----
body {
	margin: 0;
	overflow: hidden;
}